body {
    margin: 0;
}

main {
    background-color: rgb(224, 103, 103);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 55px;
    text-transform: uppercase;
}

#uno {
    margin: 0px 30px 20px 30px;
}

#dos {
    margin: 0px 30px 20px 30px;
}

#tres {
    margin: 0px 30px 20px 30px;

}