body {
    margin: 0;
}

header {
    background-color: rgba(18, 132, 73, 0.579);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 8px;
    color: aliceblue;
    margin-left: 20px;
}

#boton {
    margin-right: 20px;

}

button {
    margin-left: 15px;
    border-radius: 4px;
    padding: 6px 10px;
    border: none;
    color: rgb(81, 153, 129);

}